{% extends 'base.html' %}

{% block javascript %}
{{ super() }}
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/osf-project-select.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exportgeneral.js') }}"></script>
{% endblock %}

{% block content %}

<form id="project-export" method="POST" enctype="application/x-www-form-urlencoded">
    <fieldset>

        {% include 'partials/osf-project-select.html' %}

        {% block export_content %}
        {% endblock %}

        <div class="accordian mt-3" id="export-accordian">
            <div id="doc-options" class="accordian-item">
                <h2 class="accordian-header" id="doc-options-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#doc-options-item" aria-controls="doc-options-item"
                        aria-expanded="true">
                        Document Options
                    </button>
                </h2>
                <div id="doc-options-item" class="accordion-collapse collapse show"
                aria-labelledby="doc-options-header">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col h4">Export Format</div>
                    </div>
                    <div class="row">
                        <div class="col text-muted">
                            Select the document format for the output.
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="radio" class="form-check-input" id="export-docx" name="export-format" value="docx" checked />
                        </div>
                        <div class="col">
                            <label class="form-check-label" for="export-docx">Microsoft Word</label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="radio" class="form-check-input" id="export-odt" name="export-format" value="odt" />
                        </div>
                        <div class="col">
                            <label class="form-check-label" for="export-odt">OpenDocument Format</label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="radio" class="form-check-input" id="export-pdf" name="export-format" value="pdf" />
                        </div>
                        <div class="col">
                            <label class="form-check-label" for="export-pdf">PDF Document</label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="radio" class="form-check-input" id="export-md" name="export-format" value="md" />
                        </div>
                        <div class="col">
                            <label class="form-check-label" for="export-md">Markdown Text</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col h4">Additional Options</div>
                    </div>
                    <div class="row form-check">
                        <div class="col-sm-1">
                            <input type="checkbox" id="include-components" value="" name="include-components"
                            class='form-check-input' CHECKED />
                        </div>
                        <div class="col">
                            <label class="inline-label" for="include-components">
                            Include Subcomponents
                            <div class="text-muted">
                                Include wikis from subcomponents.
                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="checkbox" id="auto-titles" value="" name="auto-titles" class='form-check-input' CHECKED=CHECKED />
                        </div>
                        <div class="col">
                            <label class="inline-label" for="add-component-titles">
                            Add titles as necessary.
                            <div class="text-muted">
                                Add titles if the wiki does not start with one. This is useful if headings may not be consistent.  
                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="checkbox" id="add-component-titles" value="" name="add-component-titles" class='form-check-input' />
                        </div>
                        <div class="col">
                            <label class="inline-label" for="add-component-titles">
                            Always add <i>Component</i> titles.
                            <div class="text-muted">
                                Always add the component title. This is useful if the component name doesn't appear on the home wiki page, but other headings might.
                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="row  form-check">
                        <div class="col-sm-1">
                            <input type="checkbox" id="add-wiki-titles" value="" name="add-wiki-titles" class='form-check-input' />
                        </div>
                        <div class="col">
                            <label class="inline-label" for="add-wiki-titles">
                            Always add <i>Wiki</i> titles.
                            <div class="text-muted">
                                Always add the wiki title. This is useful if wiki names don't appear in the text, but other headings might.
                            </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="break-options" class="accordian-item">
                <h2 class="accordian-header" id="break-options-header"><button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#break-options-item" aria-controls="break-options-item"
                    aria-expanded="true">
                    Break Options
                </button>
            </h2>
            <div id="break-options-item" class="accordion-collapse collapse show"
                aria-labelledby="break-options-header">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <select id="wiki-break-policy" name="wiki-break-policy" class="form-select form-select-md">
                                <option value="" SELECTED>No break</option>
                                <option value="page">Page Break</option>
                                <option value="section">Section Break</option>
                            </select>
                        </div>  
                        <div class="col">
                            Break Between Wikis
                            <div class="text-muted">
                                In the exported document, what type of break would you like inserted between Wiki
                                Pages?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <select id="component-break-policy" name="component-break-policy" class="form-select form-select-md">
                                <option value="">No break</option>
                                <option value="page" SELECTED>Page Break</option>
                                <option value="section">Section Break</option>
                            </select>
                        </div>
                        <div class="col">
                            Break Between Components
                            <div class="text-muted">
                                In the exported document, what type of break would you like inserted between
                                subcomponents?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pb-4 pt-3 px-4">
                <input type="submit" class="btn btn-primary btn-lg" id="export-button" value="Export">
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}