PyYAML 
urllib3 
requests 
lxml 
markdown
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2
flask
pillow
duckdb
panflute
python-docx
sympy
latex2mathml

pkg/mistune-package
pkg/osf-package
pkg/ure-package

# These are required for sympy / math rendering
# Ubuntu packages:
# texlive-latex-base
# texlive-latex-extra
# dvipng
