<footer class="SiteFooter">
    <section class="SiteFooterBottom">
        <div class="accreditation">
            <div class="copy">
                <p>The Use of Research Evidence Methods Repository brought to you by <a
                        rel="noopener noreferrer" target="_blank" href="https://transforming-evidence.org/">Transforming
                    Evidence</a><i> </i>supported by the <a rel="noopener noreferrer" target="_blank"
                                                            href="https://wtgrantfoundation.org/">William T Grant
                    Foundation</a><i> </i>and developed in partnership with <a rel="noopener noreferrer" target="_blank"
                                                                               href="https://www.overton.io/">Overton</a>.
                </p>
            </div>
            <img class="image" src="/static/images/transforming_evidence.webp"
                 alt="Transforming evidence logo">
            <img class="image"
                 src="/static/images/william_t_grant_foundation_acc_logo.webp"
                 alt=""><img class="image"
                             src="/static/images/overton_acc_logo.webp"
                             alt=""></div>
        <div class="TermsContainer">
            <a class="copy" href="/privacy-policy">Privacy Policy</a>
            <p id="copyright" class="copy">Copyright © URE Methods Repository 2025.
                All rights reserved</p></div>
    </section>
</footer>
<script>
    const currentYear = new Date().getFullYear();
    const copyrightElement = document.getElementById('copyright');
    copyrightElement.textContent = copyrightElement.textContent.replace('2025', currentYear);
</script>