{% block login %}
<div id="google-login-div" class="row pb-3">
    <div id="google-authentication-status" class="col-sm-8">
        <button id="google-login" class="google-auth-button btn btn-primary btn-md ure-button_outlined" type="button">
            <i class="fa-brands fa-google"></i> Sign in with Google
        </button>
    </div>
    <div class="col-sm-4">
        <button id="google-logout" class="google-auth-button btn btn-primary" type="button">Log Out</button>
    </div>
</div>
{% endblock %}