{% block login %}
<div id="google-login-div" class="row pb-3">
    <div id="google-authentication-status" class="col-sm-8">
        <button id="google-login" class="btn btn-primary btn-md ure-button_outlined" type="button">
            <i class="fa-brands fa-google"></i> Sign in with Google
        </button>
    </div>
    <div class="col-sm-8">
        <button id="google-logout" class=" btn btn-primary btn-sm ure-button_outlined" type="button">Log out of Google</button>
    </div>
</div>
{% endblock %}