<div class="row">
    <div class="col">
        <h4>Select an OSF Project</h4>
    </div>
</div>

<!-- This html is intended to be used with osf-project-select.js, which must be added to the header manually -->
<div class="hide-after-login help-text row">
    <div class="col">
        You must log into your OSF account first.
    </div>
</div>
<div id="osf-panel" style="display:none" class="osf-login-required row" >
    <div class="col">
        <input type="hidden" name="osf-project-id" value="" id="osf-project-id" />
        <div class="input-group mb-3">
            <span id="osf-project-label" class="input-group-text">OSF Project</span>
            <input type="text" id="osf-project-name" name="osf-project-name" class="form-control autocomplete-panel" placeholder="Please wait until OSF projects load..." aria-label="XXX" aria-describedby="osf-project-label" value=""  />
          </div>          
    </div>
</div>
