{% extends 'barebase.html' %}

{%block javascript %}
{{ super() }}
    {# this is used to log in and authenticate with OSF #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/osfauth.js') }}"></script>
{% endblock %}
    
{% block topmatter %}
<div class="row osf-login-required importer_header">
    <h1 class="col" id="importer_title">
        Import your protocol
    </h1>
    <div class="col-sm-5 text-right" style="text-align: right">
        {% include "partials/auth-widget.html" %}
    </div>
</div>
{% endblock %}
