{% extends 'barebase.html' %}

{%block javascript %}
{{ super() }}
    {# this is used to log in and authenticate with OSF #}
    <script type="text/javascript" src="{{ url_for('static', filename='ext/osf.io-js-api-client/dist/osfclient.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/osfauth.js') }}"></script>
{% endblock %}
    
{% block topmatter %}
<div class="flexnav">
    <div class="left-justify">
        {% include "partials/page-navigation.html" %}
    </div>
    <div class="right-justify">
        {% include "partials/login-widget.html" %}
    </div>
</div>
{% endblock %}