{% extends 'base.html' %}
{% block content %}
<h2>Import into OSF</h2>
<ul>
    <li class="elegant-list emphasis"><a href="/import/google">Import from a Google Document</a></li>
    <li class="elegant-list emphasis"><a href="/import/docx">Import from a MS Word Document</a></li>
</ul>
<h2>Export from OSF</h2>
<ul>
    <li class="elegant-list emphasis"><a href="/export/file">Export to a file</a></li>
</ul>
<h2>Collection Views</h2>
<ul>
    <li><a href="/collectionlist">Most recent collection items</a></li>
    <li><a href="/search/advanced">Advanced search that includes project content</a></li>
</ul>
{% endblock %}