{% extends 'import/baseimport.html' %}
{%set import_url = url_for('import.docx') %}

{% block javascript %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='ext/simpleUpload.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/simpleUploadClient.js') }}"></script>
{% endblock %}

{% block import_content %}
<div class="form-item">

    <label class="form-label" for="docx-file-div">
        Microsoft Word Document
        <div class="help-text">
            Upload your document here. Note that only modern (<b>docx</b>) Word Documents are supported. Old style "doc" files will not process.
          </div>
    </label>    
    <div class="form-element">
        <div id="docx-upload-div" class="form-highlight">
            <label for="upload-docx">
                <div class="drag-n-drop-box">+</div>
            </label>
            <div class="fileselected-label">
                <div>File selected: <span id="filename" style="background: #ffff00">none</span></div>
                <div>Upload Status: <span id="upload-status"  style="background: #ffff00"></span></div>
                <div id="upload-progress"></div>
            </div>
            <input type="file" id="upload-docx" name="upload-docx" class='simple-upload' style="display: none;" onchange="$('#docx-upload-div.file_name').text(this.value);">
            <input type="hidden" id="fileid" name="fileid" value="" />
        </div>
    </div>
</div>

{% endblock %}