<div class="form-item">
    <label class="form-label" for="osf-project-name">OSF Project</label>
    <div class="form-element">
        <div id="osf-panel" style="display:none" class="autocomplete-panel">
            <input type="text" name="osf-project-name" class="form-input" value="" id="osf-project-name" />
            <input type="hidden" name="osf-project-id" value="" id="osf-project-id" />
            <div class="help-text">Start typing the OSF Project Name and select it when it appears.</div>

            <div style="float:right">
                <input type="checkbox" name="clear-project-first" value="" id="clear-project-first"
                    style="display:inline-block" />
                <label for="clear-project-first" style="display:inline-block">Clear and delete project
                    first.</label>
            </div>
        </div>
        <div id="osf-access" class="access-panel">
        </div>
    </div>
</div>
