<div class="form-item">
    <label class="form-label" for="osf-project-name">OSF Project</label>
    <!-- This html is intended to be used with osf-project-select.js, which must be added to the header manually -->
    <div class="form-element">
        <div class="hide-after-login" class="help-text">
            You must log into your OSF account first.
        </div>
        <div id="osf-panel" style="display:none" class="osf-login-required" >
            <input type="text" name="osf-project-name" class="form-input autocomplete-panel" value="" id="osf-project-name" />            
            <span id="osf-project-fetch-info"class="help-text" ></span>
            <div class="help-text">Start typing the OSF Project Name and select it when it appears.</div>
            <input type="hidden" name="osf-project-id" value="" id="osf-project-id" />
        </div>
        <div id="osf-access" class="access-panel">
        </div>
    </div>
</div>
