$color_neutral_100: #1B1B1AFF;
$color_neutral_80: #464544FF;
$color_neutral_60: #706F6FFF;
$color_neutral_40: #9B9A99FF;
$color_neutral_20: #BAB8B8FF;
$color_neutral_10: #DBD9D9FF;
$color_neutral_5: #F0EEEEFF;
$color_neutral_1: #F6F5F5FF;
$color_neutral_0: #FFFFFFFF;
