
/* colors */
$teal-50: rgba(224, 242, 243, 1);
$teal-100: rgba(179, 224, 223, 1);
$teal-200: rgba(129, 204, 203, 1);
$teal-300: rgba(78, 184, 181, 1);
$teal-400: rgba(38, 168, 163, 1);
$teal-500: rgba(0, 152, 146, 1);
$teal-600: rgba(0, 139, 132, 1);
$teal-700: rgba(1, 123, 115, 1);
$teal-800: rgba(3, 107, 100, 1);
$teal-900: rgba(4, 79, 71, 1);
$teal-a100: rgba(146, 237, 235, 1);
$red-50: rgba(255, 235, 238, 1);
$red-100: rgba(255, 206, 211, 1);
$red-200: rgba(246, 156, 154, 1);
$red-300: rgba(238, 117, 115, 1);
$red-400: rgba(249, 84, 79, 1);
$red-500: rgba(255, 68, 51, 1);
$red-600: rgba(240, 57, 50, 1);
$red-700: rgba(222, 46, 45, 1);
$red-800: rgba(209, 39, 37, 1);
$red-900: rgba(194, 24, 24, 1);
$purple-50: rgba(235, 233, 242, 1);
$purple-100: rgba(205, 200, 223, 1);
$purple-200: rgba(173, 164, 202, 1);
$purple-300: rgba(141, 128, 181, 1);
$purple-400: rgba(117, 102, 165, 1);
$purple-500: rgba(95, 78, 150, 1);
$purple-600: rgba(87, 73, 144, 1);
$purple-700: rgba(77, 64, 134, 1);
$purple-800: rgba(68, 58, 124, 1);
$purple-900: rgba(54, 48, 104, 1);
$purple-a100: rgba(191, 171, 255, 1);
$orange-50: rgba(255, 243, 224, 1);
$orange-100: rgba(255, 224, 178, 1);
$orange-200: rgba(255, 204, 128, 1);
$orange-300: rgba(255, 183, 77, 1);
$orange-400: rgba(255, 167, 38, 1);
$orange-500: rgba(255, 152, 0, 1);
$orange-600: rgba(251, 140, 0, 1);
$orange-700: rgba(245, 124, 0, 1);
$orange-800: rgba(239, 108, 0, 1);
$orange-900: rgba(230, 81, 0, 1);
$orange-a700: rgba(255, 109, 0, 1);
$orange-a400: rgba(255, 145, 0, 1);
$orange-a200: rgba(255, 171, 64, 1);
$orange-a100: rgba(255, 209, 128, 1);
$grey-50: rgba(250, 250, 250, 1);
$grey-100: rgba(245, 245, 245, 1);
$grey-200: rgba(238, 238, 238, 1);
$grey-300: rgba(224, 224, 224, 1);
$grey-400: rgba(189, 189, 189, 1);
$grey-500: rgba(158, 158, 158, 1);
$grey-600: rgba(117, 117, 117, 1);
$grey-700: rgba(97, 97, 97, 1);
$grey-800: rgba(66, 66, 66, 1);
$grey-900: rgba(16, 16, 16, 1);
$grey-a700: rgba(97, 97, 97, 1);
$grey-a400: rgba(189, 189, 189, 1);
$grey-a200: rgba(238, 238, 238, 1);
$grey-a100: rgba(245, 245, 245, 1);

/* palette - Light */
$text-primary: rgba(0, 0, 0, 0.8700000047683716);
$text-secondary: rgba(0, 0, 0, 0.7000000238418579);
$text-disabled: rgba(0, 0, 0, 0.4799999952316284);
$primary-main: $purple-900;
$primary-dark: $purple-700;
$primary-light: $purple-400;
$primary-contrast: rgba(255, 255, 255, 1);
$primary-_states-hover: rgba(54, 48, 104, 0.03999999910593033);
$primary-_states-selected: rgba(54, 48, 104, 0.07999999821186066);
$primary-_states-focus: rgba(54, 48, 104, 0.11999999731779099);
$primary-_states-focusvisible: rgba(54, 48, 104, 0.30000001192092896);
$primary-_states-outlinedborder: rgba(54, 48, 104, 0.5);
$text-_states-hover: rgba(0, 0, 0, 0.03999999910593033);
$text-_states-selected: rgba(0, 0, 0, 0.07999999821186066);
$text-_states-focus: rgba(0, 0, 0, 0.11999999731779099);
$text-_states-focusvisible: rgba(0, 0, 0, 0.30000001192092896);
$secondary-main: $teal-700;
$secondary-dark: $teal-900;
$secondary-light: $teal-300;
$secondary-contrast: rgba(255, 255, 255, 1);
$secondary-_states-hover: rgba(0, 139, 132, 0.03999999910593033);
$secondary-_states-selected: rgba(0, 139, 132, 0.07999999821186066);
$secondary-_states-focus: rgba(0, 139, 132, 0.11999999731779099);
$secondary-_states-focusvisible: rgba(0, 139, 132, 0.30000001192092896);
$secondary-_states-outlinedborder: rgba(0, 139, 132, 0.5);
$action-active: $grey-900;
$action-hover: rgba(0, 0, 0, 0.03999999910593033);
$action-selected: rgba(0, 0, 0, 0.07999999821186066);
$action-focus: rgba(0, 0, 0, 0.11999999731779099);
$action-disabled: rgba(0, 0, 0, 0.3799999952316284);
$action-disabledbackground: rgba(0, 0, 0, 0.11999999731779099);
$error-main: $red-800;
$error-dark: $red-900;
$error-light: $red-50;
$error-contrast: rgba(255, 255, 255, 1);
$error-_states-hover: rgba(244, 67, 54, 0.03999999910593033);
$error-_states-selected: rgba(244, 67, 54, 0.07999999821186066);
$error-_states-focusvisible: rgba(244, 67, 54, 0.30000001192092896);
$error-_states-outlinedborder: rgba(244, 67, 54, 0.5);
$warning-main: $orange-200;
$warning-dark: $orange-900;
$warning-light: $orange-50;
$warning-contrast: $grey-900;
$warning-_states-hover: rgba(255, 183, 77, 0.03999999910593033);
$warning-_states-selected: rgba(255, 183, 77, 0.07999999821186066);
$warning-_states-focusvisible: rgba(255, 183, 77, 0.30000001192092896);
$warning-_states-outlinedborder: rgba(255, 183, 77, 0.5);
$info-main: $teal-50;
$info-dark: $teal-200;
$info-light: $teal-50;
$info-contrast: $grey-900;
$info-_states-hover: rgba(63, 169, 225, 0.03999999910593033);
$info-_states-selected: rgba(63, 169, 225, 0.07999999821186066);
$info-_states-focusvisible: rgba(63, 169, 225, 0.30000001192092896);
$info-_states-outlinedborder: rgba(63, 169, 225, 0.5);
$success-main: $teal-800;
$success-dark: $teal-900;
$success-light: $teal-600;
$success-contrast: rgba(255, 255, 255, 1);
$success-_states-hover: rgba(4, 79, 71, 0.03999999910593033);
$success-_states-selected: rgba(4, 79, 71, 0.07999999821186066);
$success-_states-focusvisible: rgba(4, 79, 71, 0.30000001192092896);
$success-_states-outlinedborder: rgba(4, 79, 71, 0.5);
$common-white_states-main: rgba(255, 255, 255, 1);
$common-white_states-hover: rgba(255, 255, 255, 0.03999999910593033);
$common-white_states-selected: rgba(255, 255, 255, 0.07999999821186066);
$common-white_states-focus: rgba(255, 255, 255, 0.11999999731779099);
$common-white_states-focusvisible: rgba(255, 255, 255, 0.30000001192092896);
$common-white_states-outlinedborder: rgba(255, 255, 255, 0.5);
$common-black_states-main: rgba(0, 0, 0, 1);
$common-black_states-hover: rgba(0, 0, 0, 0.03999999910593033);
$common-black_states-selected: rgba(0, 0, 0, 0.07999999821186066);
$common-black_states-focus: rgba(0, 0, 0, 0.11999999731779099);
$common-black_states-focusvisible: rgba(0, 0, 0, 0.30000001192092896);
$common-black_states-outlinedborder: rgba(0, 0, 0, 0.15);
$background-default: rgba(255, 255, 255, 1);
$background-paper-elevation-0: rgba(255, 255, 255, 1);
$background-paper-elevation-1: rgba(255, 255, 255, 1);
$background-paper-elevation-2: rgba(255, 255, 255, 1);
$background-paper-elevation-3: rgba(255, 255, 255, 1);
$background-paper-elevation-4: rgba(255, 255, 255, 1);
$background-paper-elevation-5: rgba(255, 255, 255, 1);
$background-paper-elevation-6: rgba(255, 255, 255, 1);
$background-paper-elevation-7: rgba(255, 255, 255, 1);
$background-paper-elevation-8: rgba(255, 255, 255, 1);
$background-paper-elevation-9: rgba(255, 255, 255, 1);
$background-paper-elevation-10: rgba(255, 255, 255, 1);
$background-paper-elevation-11: rgba(255, 255, 255, 1);
$background-paper-elevation-12: rgba(255, 255, 255, 1);
$background-paper-elevation-13: rgba(255, 255, 255, 1);
$background-paper-elevation-14: rgba(255, 255, 255, 1);
$background-paper-elevation-15: rgba(255, 255, 255, 1);
$background-paper-elevation-16: rgba(255, 255, 255, 1);
$background-paper-elevation-17: rgba(255, 255, 255, 1);
$background-paper-elevation-18: rgba(255, 255, 255, 1);
$background-paper-elevation-19: rgba(255, 255, 255, 1);
$background-paper-elevation-20: rgba(255, 255, 255, 1);
$background-paper-elevation-21: rgba(255, 255, 255, 1);
$background-paper-elevation-22: rgba(255, 255, 255, 1);
$background-paper-elevation-23: rgba(255, 255, 255, 1);
$background-paper-elevation-24: rgba(255, 255, 255, 1);
$elevation-outlined: rgba(224, 224, 224, 1);
$divider: rgba(0, 0, 0, 0.11999999731779099);
$_components-switch-slidefill: rgba(0, 0, 0, 1);
$_components-switch-knowfilldisabled: $grey-100;
$_components-switch-knobfillenabled: $grey-50;
$_components-alert-success-background: $teal-50;
$_components-alert-success-color: $teal-900;
$_components-alert-info-background: $teal-50;
$_components-alert-info-color: rgba(0, 49, 86, 1);
$_components-alert-warning-background: $orange-50;
$_components-alert-warning-color: rgba(83, 29, 0, 1);
$_components-alert-error-background: rgba(253, 237, 237, 1);
$_components-alert-error-color: rgba(87, 1, 0, 1);
$_components-chip-defaultfocusfill: rgba(0, 0, 0, 0.20000000298023224);
$_components-chip-defaulthoverfill: rgba(0, 0, 0, 0.11999999731779099);
$_components-chip-defaultclosefill: rgba(0, 0, 0, 1);
$_components-chip-defaultenabledborder: $grey-400;
$_components-backdrop-fill: rgba(0, 0, 0, 0.5);
$_components-tooltip-fill: rgba(97, 97, 97, 0.8999999761581421);
$_components-snackbar-fill: rgba(50, 50, 50, 1);
$_components-rating-activefill: rgba(255, 180, 0, 1);
$_components-rating-enabledborder: rgba(0, 0, 0, 0.23000000417232513);
$_components-input-filled-hoverfill: rgba(0, 0, 0, 0.09000000357627869);
$_components-input-filled-enabledfill: rgba(0, 0, 0, 0.05999999865889549);
$_components-input-outlined-hoverborder: rgba(0, 0, 0, 1);
$_components-input-outlined-enabledborder: rgba(0, 0, 0, 0.23000000417232513);
$_components-input-standard-hoverborder: rgba(0, 0, 0, 1);
$_components-input-standard-enabledborder: rgba(0, 0, 0, 0.41999998688697815);
$_components-appbar-defaultfill: $grey-100;
$_components-stepper-connector: $grey-400;
$_components-breadcrumbs-collapsefill: $grey-100;
$_components-avatar-fill: $grey-400;
$_native-scrollbar-bg: $grey-200;