$font_size_xxs: 0.75rem;
$font_size_xs: 0.875rem;
$font_size_sm: 1rem;
$font_size_md: 1.125rem;
$font_size_lg: 1.5rem;
$font_size_xl: 2rem;
$font_size_xxl: 2.25rem;
$font_size_xxxl: 2.75rem;
$font_size_huge: 4rem;

$line_height_xxs: 0.875rem;
$line_height_xs: normal;
$line_height_sm: 1.25rem;
$line_height_md: 1.75rem;
$line_height_lg: 2rem;
$line_height_xl: 2.25rem;
$line_height_xxl: 3rem;
$line_height_huge: 4.25rem;

$font_weight_normal: 400;
$font_weight_bold: 500;