$spacing_0: 0;
$spacing_half: 0.25rem;
$spacing_1: 0.5rem;
$spacing_2: 1rem;
$spacing_3: 1.5rem;
$spacing_4: 2rem;
$spacing_6: 3rem;
$spacing_8: 4rem;
$spacing_10: 5rem;
$spacing_16: 8rem;

$radius_none: 0;
$radius_sm: 0.25rem;
$radius_md: 0.5rem;
$radius_lg: 1rem;
$radius_xl: 2rem;

$header_height: 4.5rem;